   {% extends "Admin-Panel.html" %} {% load static %} {% block content %}

<div class="content-wrapper">
    {% if messages %}

    {% for message in messages %}


    <div class="alert alert-warning alert-dismissible fade show">
        <strong>*</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endfor %}
    {% endif %}
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <!-- Info Boxes Style 2 -->
                        <div class="info-box mb-3 bg-warning">
                            <span class="info-box-icon"><i class="fas fa-calendar-plus"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Current Academic Year</span>
                                {% for f in a %}
                                {% if f.show == True %}
                                <span class="info-box-number">{{ f.academic_year }}</span>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                        <div class="info-box mb-3 bg-success">
                            <span class="info-box-icon"><i class="fa fa-book-open"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Currently Running Semester</span>
                                <span class="info-box-number">{% for d in s %} {% if d.show1 == True %}{{ d.semester }} , {% endif %}{% endfor %} </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>


                    </div>
                    <div class="row mb-2">



                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Info boxes -->


                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Add/Update Academic_Years</h5>

                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-md-12">
                                            <form action="" method="post">
                                                {% csrf_token %}

          <div class="form-group">
    <label for="id_semester">Semester</label>
   {{ sfrm.semester }}
  </div>
         <div class="form-group">
    <label for="id_show1">Show</label>
   {{ sfrm.show1 }}
  </div>

 <button class="btn btn-primary" type="submit">Submit</button>

                                            </form>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

        </div>
   {% endblock %}
